# random
.development
/dist

# npm
npm-debug.log*
package-lock.json
/node_modules

# logs
*.log
lerna-debug.log*
/logs

# OS
.DS_Store

# tests
/coverage
/.nyc_output

# IDE - VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
